* {
  font-family: "Libertinus Serif Display", system-ui;
}

nav {
    display: flex; /* Exibe os botões em linha */
    justify-content: center; /* Centraliza os botões horizontalmente */
    align-items: center; /* Alinha os botões verticalmente ao centro */
    margin: 20px 0; /* Adiciona margens ao redor do nav, se necessário */
}

nav button {
    margin: 0 20px; /* Define espaçamento horizontal entre os botões */
    color: #a66693; 
    font-weight: bold; 
    transition: color 0.3s;
    font-size: x-large;
    border-radius: 15px;
    border: 1px solid #a66693;
    padding: 10px 20px; /* Adiciona espaçamento interno para os botões */
    cursor: pointer;
}

nav button:hover {
    color: #840f66;
}


.titulo-quem-somos {
    text-align: center; 
    margin: 150px 0 20px 0;
    color: #a25b91; 
    padding: 20px;
}

h1 {
    text-align: center; 
    margin: 20px 0; 
    color: #a25b91; 
    padding: 20px;
}

h2 {
    color: #a25b91;
    padding: 20px;
}

.quem-somos {
    text-align: center; 
    background-color: #cd93c2; 
    font-size: 20px; 
    max-width: 600px; 
    margin: 50px auto;
    padding: 10px;
    border-radius: 15px;
    color: #f9f9f9;
}

p {
    font-size: 15px;
    color: #6b1b53;
}

#bolinhos {
    display: flex;
    justify-content: center; 
    margin: 20px auto; 
    line-height: 20px;
    max-width: 1000px; 
    height: 100%;
    transition: opacity 0.8s ease;
}

.tab-content {
    border: 5px solid #a25b91; 
    border-radius: 15px;
    padding: 8px;
    margin: 100px 30px;
    text-align: center;
    font-size: larger;
    box-sizing: border-box;
    flex: 1; 
}

.image-gallery {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 50px 7px 7px 7px;
}

.image-item {
    width: calc(25% - 10px); 
    margin: 10px; 
    box-sizing: border-box; 
    overflow: hidden;
    border: 3px solid #874a75;
    border-radius: 20px;
}

.image-item img {
    width: 100%; 
    height: auto; 
    max-height: 320px; 
    object-fit: cover;
    border-radius: 10px;
}

footer {
    margin-top: 200px;
    background-color: #ebc5e0;
    padding: 45px 0;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.titulo-contatos {
    color: #b46db1;
    padding-bottom: 20px; 
}

.imagens-container {
    display: flex; 
    justify-content: center;
    gap: 20px; 
}


.imagem-wpp, .imagem-insta {
    height: 60px; 
}

.imagem-fundo {
    position: fixed;
    top: 0;
    z-index: -1;
}

.img-marmore {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}


